// Custom properties

// Variables
$primary: #FFD15B;
$secondary: #E5E5E5;
$light: #FFFFFF;

// Font family
$font-family-base: 'Manrope', sans-serif;
$headings-font-family: 'Anton', sans-serif;

// Positions
$position-values: (
  0: 0,
  3: 3%,
  5: 5%,
  10: 10%,
  20: 20%,
  50: 50%,
  100: 100%
);

// Search Input
.form-control::placeholder{
    opacity: 0.5 !important;
}

.form{
    position: relative;

    .bi-search{
        // cursor: pointer;
        position: absolute;
        top:8px;
        right: 10px;
        color: white;
        background-color: black;
        padding: 8px 10px;
        border-radius: 10px;
    }

    &-input{
        height: 55px;
        border-radius: 10px;
    }
}

// Dropdown
.dropdown{
    input{
        width: 85%;
        position: relative;
    }
    input:focus-within{
        outline: none;
    }
    .bi-search{
        position: absolute;
        top: 12px;
        right: 26px;
    }
    a:hover,
    a:focus{
        background-color: $primary;
    }
}

// Card
.card{
    width: 400px;

    .text-secondary,
    &-time{
        font-size: 12px;
    }

    &-text {
        font-size: 14px;
    }

    &-title{
        font-size: 18px;
    }

    img{
        object-fit: cover;
        max-height: 253px;
    }
}

//specificity > than d-flex itself
.d-flex .hidden{
    display: none !important;
}

.header-main{
    background-image: url('../assets/lampos-aritonang-24gR_9lCdes-unsplash 1.png');
    background-size: cover;
    background-position: center;
}


// Breakpoints
.number-recipes{
    margin: 32px 0;
}

@media (min-width: 768px){
    .number-recipes{
        margin: 0;
    }

}

.header-title {
    font-size: calc(1.525rem + 3.3vw);
}

@media (min-width: 1200px) {
    .header-title {
      font-size: 4rem;
    }
} 

@import "../node_modules/bootstrap/scss/bootstrap";